p {
  font-family: Lato;
}
.roundedcorner {
    margin: 3px;
    font-weight: 500;
    color: black;
    font-style: italic;
    padding: 4px 7px 4px 8px;
    background: #e1e2e3;
    font-size: 14px;
    float: left;
    border-radius: 25px;
    border: 1px solid grey;
  }
.m-row{
  margin:20px 0px 20px 0px
}
.txt-center{
  text-align: center;
}
.shadow{
  text-shadow: 0px 2px 3px;
}
