<div class="container">
  <div class="row mt-row">
<h2 class="txt-center shadow"> Generate Custom Material Chips on multiple inputs <small> (with two way binding)</small> </h2>
    </div>
  <div class="row">
  <div class="col-md-12">
    <div *ngFor="let filter of filters; let i = index" class="roundedcorner">
      {{filter}} &nbsp;&nbsp;
      <i class="fa fa-times-circle" style="font-size: 15px;color: #a59d9d;cursor: pointer;" (click)="dropChips(i, filter)"></i>
    </div>
  </div> 
</div>
  <div class="row m-row">
    <form role="form" name="frmSearch" [formGroup]='frmSearch' autocomplete="off">
      <div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="State" formControlName= "state"  (focusout)="filterChips()"/>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" name="district" class="form-control" formControlName="district" id="district" placeholder="District" (focusout)="filterChips()"/>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <input type="text" class="form-control" name="pincode" placeholder="Pincode" formControlName= "pincode" (focusout)="filterChips()">
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" (click)="showSubscriber()"  class="btn btn-sm btn-primary" >
      <i class="fa fa-search"></i> Search
    </button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-sm btn-warning" (click)="clearFilters()" style="color: white;float: right;">Clear Filters&nbsp;<i class="fa fa-filter"></i></button>
  </div>
</div>
</form>
</div>

  <table 
  class="table table-bordered table-hover" style="margin-top:10px">
  <thead>
    <tr class="thead-bg">
      <th style="width: 10px">#</th>
      <th>Name</th>
      <th>Contact Number</th>
      <th style="width: 285px;">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of subscribers, let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.contactNumber}}</td>
      <td>{{item.address}}</td>
    </tr>
  </tbody>
</table>
</div>